src/introsde/APP4/orchestrator/openweather/entities/WeatherData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="weatherdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="location">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="type" />
              <xs:element name="country" type="xs:string" />
              <xs:element name="timezone" />
              <xs:element name="location">
                <xs:complexType>
                  <xs:attribute name="altitude" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="latitude" type="xs:decimal" use="required" />
                  <xs:attribute name="longitude" type="xs:decimal" use="required" />
                  <xs:attribute name="geobase" type="xs:string" use="required" />
                  <xs:attribute name="geobaseid" type="xs:unsignedInt" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="credit" />
        <xs:element name="meta">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lastupdate" />
              <xs:element name="calctime" type="xs:decimal" />
              <xs:element name="nextupdate" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="sun">
          <xs:complexType>
            <xs:attribute name="rise" type="xs:dateTime" use="required" />
            <xs:attribute name="set" type="xs:dateTime" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="forecast">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="time">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="symbol">
                      <xs:complexType>
                        <xs:attribute name="number" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="var" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="precipitation">
                      <xs:complexType>
                        <xs:attribute name="unit" type="xs:string" use="optional" />
                        <xs:attribute name="value" type="xs:decimal" use="optional" />
                        <xs:attribute name="type" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="windDirection">
                      <xs:complexType>
                        <xs:attribute name="deg" type="xs:float" use="required" />
                        <xs:attribute name="code" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="windSpeed">
                      <xs:complexType>
                        <xs:attribute name="mps" type="xs:decimal" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="temperature">
                      <xs:complexType>
                        <xs:attribute name="unit" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                        <xs:attribute name="min" type="xs:decimal" use="required" />
                        <xs:attribute name="max" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="pressure">
                      <xs:complexType>
                        <xs:attribute name="unit" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="humidity">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="clouds">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                        <xs:attribute name="all" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="unit" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="from" type="xs:dateTime" use="required" />
                  <xs:attribute name="to" type="xs:dateTime" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>